
* {
    box-sizing: border-box;
}

body {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    transition: padding-top 0.3s;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    color: black;
    width: 100%;
}

.section_one__title {
    margin: 0;
    width: 180px;
    height: 40px;
    text-align: center;
}

.section_three {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Button Styles */
.section_three button {
    padding: 10px 15px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.section_three button:hover {
    background-color: #f1f1f1;
}

.section_three button::after {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.section_three button:hover::after {
    transform: scaleX(1);
}

/* Section Four */
.section_four {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 0;
}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-top: 12px;
}

.categories button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.categories button:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.categories button::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.categories button:hover::after {
    transform: scaleX(1);
}

/* Search Section */
.section_two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.section_two__input {
    padding: 10px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
}

.search_button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(227, 244, 250);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.search_button:hover {
    background-color: rgb(152, 211, 235);
}

/* Banner Styles */
.banner {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.banner_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second_banner_image {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 200px;
    height: auto;
    z-index: 1;
}

.banner_content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
}

.offer_box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
}

.offer_button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(227, 244, 250);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.offer_button:hover {
    background-color: rgb(152, 211, 235);
}

/* Award Section Styles */
.award_section {
    text-align: center;
    margin: 20px 0;
}

.award_section h3 {
    margin: 0px 0;
    font-size: 1.5em;
}

.award_section p {
    font-size: 1em;
}

/* Card Container Styles */
.card_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 80%;
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.card_image {
    width: 100%;
    height: 180px;
    object-fit: fill;
}

.card_name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

/* Icon in the Bottom Right Corner */
.card_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

/* Fun Things Button Styles */
.fun_things_button {
    display: flex;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 8px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fun_button_image {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.fun_button_text {
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.read_now_button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(227, 244, 250);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
}

.read_now_button:hover {
    background-color: rgb(152, 211, 235);
}

/* FOOTER SECTION STARTS HERE */
.footer {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer_section h4 {
    margin-bottom: 10px;
}

.footer_section ul {
    list-style-type: none;
    padding: 0;
}

.footer_section li {
    margin: 5px 0;
}

.footer_section a {
    text-decoration: none;
    color: #777a7d;
}

.footer_section a:hover {
    text-decoration: underline;
}

.footer_bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.footer_bottom p {
    margin: 5px 0;
}

.footer_bottom a {
    color: #5a6168;
    text-decoration: none;
}

.footer_bottom a:hover {
    text-decoration: underline;
}

/* INSPIRATION SECTION STARTS HERE */
.inspiration_section {
    text-align: center;
    margin: 40px 0;
}

.image_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.image_container {
    background: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.image_container img {
    max-width: 100%;
    border-radius: 10px;
}

.image_container h3 {
    margin: 15px 0 5px;
}

.image_container p {
    margin: 5px 0;
}

.image_container i {
    color: rgb(135, 201, 155);
    font-size: 24px;
}

/* COIMBATORE FOOT SECTION STARTS HERE */
.tour_experiences_section {
    text-align: center;
    margin: 40px 0;
}

.image_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.image_container_trial {
    background: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    position: relative;
    text-align: center;
}

.image_container_trial img {
    max-width: 100%;
    border-radius: 10px;
}

.image_container_trial h3 {
    margin: 15px 0 5px;
}

.image_container_trial p {
    margin: 5px 0;
}

.image_container_trial i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(135, 201, 155);
    font-size: 24px;
}

/* SPONSORED SECTION STARTS HERE */
.sponsored_section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px 0;
    border-radius: 8px;
    width: 86.5%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sponsored_image img {
    width: 350px;
    height: 400px;
    border-radius: 8px;
}

.sponsored_content {
    padding-left: 20px;
    flex: 1;
}

.sponsored_content h2 {
    margin: 0;
    font-size: 1.5em;
}

.sponsored_content p {
    margin: 10px 0;
    font-size: 1em;
}

.learn_more_button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(227, 244, 250);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.learn_more_button:hover {
    background-color: rgb(152, 211, 235);
}

/* Media Queries */
@media (max-width: 700px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
    }

    .section_three {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .section_two__input {
        width: 100%;
        margin-left: 0;
    }

    .banner_content {
        left: 10px;
        top: 10px;
        right: auto;
    }

    .second_banner_image {
        right: 10px;
        width: 80px;
    }

    .footer_container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .categories {
        display: flex;
    }

    .section_three {
        display: none;
    }

    .card_container {
        flex-direction: column;
        align-items: center;
    }
}